<!-- views/games/gameDetails.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title> Game Title </title>
    <style>
        .game-details-container {
            display: flex;
            position: relative;
            justify-content: center;
            flex-direction: column;
            top: 30vmin;
            left: 50vmin;
            width: 400px;
            border: 2px solid black;
        }
        h2 {
            text-decoration: underline;
        }
        div.review-section {
            display: flex;
            position: relative;
        }
    </style>
</head>
<body>
    <% include ../partials/header %>

    <div class="game-details-container">
        <h2>Game Details</h2>
        <h3>Title: <%= game.title %></h3>
        <p>Price: <%= game.price %></p>
        <p>Genre: <%= game.genre %></p>
        <p>Developer: <%= game.developer %></p>
        <p>Publisher: <%= game.publisher %></p>
        <p>Reviews:</p>
         <% game.reviews.forEach(review => { %>
            <%= review.note %>
            <% }) %>
       

        <form action="/reviews/<%= game._id %>" method="POST">
            <label for="review">Add a Review:</label>
            <textarea id="review" name="note" rows="4" cols="50" required></textarea>
            <button type="submit">Submit Review</button>
        </form>     
    </div>
 
</body>
</html>
